@import './page.module.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.Clouds {
  background-image: url(./Assets/cloudy.jpg);
}

.Clear {
  background-image: url(./Assets/clear.jpg);
}

.Rain {
  background-image: url(./Assets/rain.jpg);
}

.Thunderstorm {
  background-image: url(./Assets/thunderstom.jpg);
}

.Clouds,
.Rain,
.Clear,
.Thunderstorm {
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  background-position: center;
}